
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');


body, html, h1, h2, p {
  margin: 0;
  padding: 0;
  font-family: "Lato", Helvetica, Arial, sans-serif;
}

.banner {
  left: 0px;
  top: 0px;
  padding: 30px 40px;
  background: linear-gradient(55.48deg, rgba(17, 141, 255, 0.8) 33.26%, rgba(255, 199, 0, 0.8) 99.92%);
  background: linear-gradient(55.48deg, rgba(0, 105, 202, 0.8) 33.26%, rgba(255, 199, 0, 0.8) 99.92%);
  background: linear-gradient(49.78deg, rgba(50, 78, 230, 0.8) 30.15%, rgba(225, 81, 49, 0.8) 95.07%);
  /*
  */
}

.content {
  padding: 30px 28px;
}

h1 {
  font-size: 52px;
  letter-spacing: 1px;
  font-weight: 100;
  color: white;
  position: relative;
  left: -4px;
}

h2 {
  font-size: 12px;
  letter-spacing: 4px;
  font-weight: 900;
  text-transform: uppercase;
  color: white;
}

.banner p {
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 1.5px;
  text-align: left;
  color: white;
  max-width: 280px;
}

.thumbnail {
  display: block;
  width: 193px;
  text-decoration: none;
}

.thumbnail:hover .thumbnail-text {
  color: #0069CACC;
}

.thumbnail-image {
  display: block;
  width: 193px;
  height: 366px;
  background-image: url(/src/resources/onboarding2.png);
  background-size: cover;
}

.thumbnail-text {
  padding: 0 23px 0 10px;
  font-size: 14px;
  line-height: 15px;
  color: #a8a8a8;
  text-align: center;
  text-decoration: none;
}